body {
    background-color: #fdf0d5;
}
h1 {
    color:#c1121F;
}
h2{
    color:#669BBC;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
ul {
margin: 0;
padding-left: 0;
list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 20px;
}
